VITE_APP_NAME="Smart Public Complaint Tracking Platform"
VITE_APP_ID="PRJ_364"
VITE_APP_DOMAIN="Cloud Computing & Mobile Applications"
VITE_ADMIN_EMAIL="admin@smartcomplaint.gov.in"
VITE_ADMIN_PASSWORD="admin123"
VITE_GOOGLE_CLIENT_ID=""
VITE_GOOGLE_REDIRECT_URI="http://localhost:5173/login"
